@font-face {
  font-family: "Muller";
  src: local('Muller-Light'),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local('Muller-Regular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local('Muller-Medium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local('Muller-Bold'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: "Muller", Arial, Helvetica, sans-serif;
  background-color: #E5E5E5;
}

/* glob */
.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.more-button {
  color: #CC9933;
}

.more-background {
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px;
}

.more-background-gold {
  background-image: url("../img/show-more.svg");
}

.button {
  margin: 0;
  padding: 0;
  border: 1px solid #CC9933;
  padding: 13px 20px;
  border-radius: 10px;
  max-width: 190px;
}

.section-offset {
  margin: 0;
  margin-bottom: 70px;
}

/* hedaer */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-container {
  padding: 0;
  padding-top: 30px;
}

.header-logo {
  margin-right: 40px;
}

.header-up {
  align-items: center;
  margin-bottom: 30px;
}

.header-contact {
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.personal-area-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.personal-area-backgorund {
  background-image: url('../img/keyboard_tab.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: left center;
  padding-left: 29px;
}

.header-down {
  background-color: #fff;
  padding: 13.5px 22.5px;
  border-radius: 15px;
}

.header-list {
  align-items: center;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-add {
  margin-left: auto;
}

.navbar-add-button:not(:last-child) {
  margin: 0;
  margin-right: 40px;
}

.menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.add-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

/* special */
.section-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.section-title-offset {
  padding: 0;
  padding-left: 40px;
}

.offers-list {
  flex-wrap: wrap;
}

.special-left {
  flex-direction: column;
}

.offers-list-item {
  width: 573px;
  max-width: 573px;
  overflow: hidden;
  border-radius: 16px;
}

.offer-list-item:last-child {
  background-image: url('../img/lux-rooms.jpg');
}

.offers-list-item:not(:last-child) {
  margin: 0;
  margin-bottom: 24px;
  margin-right: 24px;
  flex-grow: 1;
}

.offers-list-item .big-offer {
  flex-grow: 2;
}

.offer {
  padding: 0;
  height: 258px;
  padding: 40px 108px 40px 45px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offer-maldives {
  background-image: url('../img/maldives.png');
}

.offer-creete {
  background-image: url('../img/creet.jpg');
}

.big-offer {
  height: 540px;
  background-image: url('../img/lux-rooms.jpg');
}

.offer-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
}

.big-offer-title {
  padding-top: 212px;
  max-width: 299px;
  font-size: 60px;
  line-height: 60px;
}

.offer-price {
  margin: 0;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.9;
}

.big-offer-price {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
}

.special {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #F0BF5F;
}

/* about-us */

.about-us-description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
  max-width: 888px;
}

/* services */
.services-list {
  flex-wrap: wrap;
}

.services-item {
  width: 573px;
}

.services-item {
  margin: 0;
  margin-right: 24px;
  margin-bottom: 24px;
}

.services-item:nth-child(2n) {
  margin: 0;
}

.service-preview {
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  border-radius: 16px;
}

.services-list-item-avatar {
  margin: 0;
  margin-bottom: 26px;
}

.service-preview-description {
  padding: 0;
  padding-left: 45px;
  padding-right: 126px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

.service-item-title {
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
}

.service-item-description {
  margin: 0;
}

/* advantages */
.advantages-list {
  flex-wrap: wrap;
}

.advantages-item {
  margin: 0;
  max-width: 276px;
  max-height: 272px;
  background-color: #fff;
  border-radius: 16px;
  padding: 0;
  padding: 40px 42px 32px 45px;
}

.advantages-item:not(:last-child) {
  margin: 0;
  margin-right: 22px;
  margin-bottom: 22px;
}

.advantage-description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

/* placemants */
.placements-list {
  flex-wrap: wrap;
}

.placements-item {
  height: 440px;
  max-height: 440px;
  width: 374px;
  max-width: 374px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 16px;
}

.placements-item:not(:last-child) {
  margin: 0;
  margin-right: 24px;
  margin-bottom: 24px;
}

.place-avatar {
  margin: 0;
  margin-bottom: 32px;
}

.place-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.price-from {
  color: #999999;
}

.price-number {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.place-description {
  padding: 0;
  padding-bottom: 45px;
  padding-left: 45px;
  max-height: 440px;
}

.place-price {
  display: inline-block;
  margin: 0;
  margin-right: 52px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.price-from {
  color: #999999;
}

.price-number {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.rating {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-right: 45px;
}

.place-name {
  display: block;
  margin: 0;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.place-location {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.button-inline {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.placements-item:last-child {
  flex-direction: column;
  justify-content: flex-end;
}

.last-place {
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
}

.more-background-white {
  background-image: url('../img/show-more-white.svg');
}

.more-places-container {
  background-image: url('../img/place-9.jpg');
  background-repeat: no-repeat;
}



/* form */
.form-container {
  background-color: #E9E9E9;
  padding: 45px;
  border-radius: 15px;
}

.form {
  background-color: #fff;
  padding: 30px;
  align-items: center;
  border-radius: 15px;
  justify-content: space-between;
}

.form-left {
  width: 80%;
}

.form-item {
  margin: 0;
  margin-right: 41px;
}

.form-item:last-child {
  margin-right: 51px;
}

.form-select {
  width: 169px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border: none;

}

.form-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  width: 120px;
  border: none;
  border-bottom: 1px solid #E9E9E9;
}

.form-input-date {
  border: none;
  width: 141px;
}

.form-item-description {
  margin: 0;
  margin-bottom: 15px;
}

.form-button {
  background-color: transparent;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  color: #CC9933;
}

/* contacts */
.content {
  background-color: #fff;
  padding: 45px;
  border-radius: 15px;
  justify-content: space-between;
}

.contacts-list {
  flex-direction: column;
  margin-bottom: 45px;
}

.contacts-item {
  margin: 0;
  align-items: stretch;
  margin-bottom: 25px;
  padding-bottom: 23px;
  border-bottom: 1px solid #E9E9E9;
}

.contacts-title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.contacts-title-first {
  margin-right: 83px;
}

.contacts-title-second {
  margin-right: 47px;
}

.contacts-title-third {
  margin-right: 93px;
}

.contacts-title-fourth {
  margin-right: 74px;
}

.contacts-description {
  margin: 0;
  max-width: 229px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  font-style: normal;
}

.contacts-phone {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}

.contacts-phone:first-child {
  margin: 0;
  margin-bottom: 5px;
}

.contacts-email {
  margin-bottom: 10px;
  font-style: normal;
}

.email-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}

.email-description {
  margin: 0;
}

.contacts-button {
  padding: 27px 30px;
  color: #CC9933;
}

/* footer */
.footer-container {
  background-color: #333;
  padding: 45px;
  border-radius: 15px;
  justify-content: space-between;
}

.footer-text{
  margin: 0;
  margin-bottom: 38px;
  max-width: 308px;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF;
  font-style: normal;
}

.footer-text-address {
  margin: 0;
  margin-bottom: 15px;
  max-width: 360px;
}

.footer-phone {
  display: block;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}

.footer-mail {
  display: block;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}

.footer-img {
  position: relative;
  top: 63px;
  right: 123px;
}

.socials-list {
  flex-direction: column;
}

.socials-item:not(:last-child) {
  margin: 0;
  margin-bottom: 20px;
}

.footer-icon {
  display: block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-icon-owl {
  background-image: url('../img/footer-icon-1.svg');
}

.footer-icon-ok {
  background-image: url('../img/ok.svg');
}

.footer-icon-vk {
  background-image: url('../img/vk.svg');
}
